.nav-container {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 21px;
  padding: 20px 50px;
  background-color: var(--nf-color);
}
.nav-section {
  display: flex;
  gap: 30px;
  align-items: center;
  color: white;
}
.btn button {
  padding: 15px 25px;
  background-color: #e893cf;
  border: none;
  font-size: 21px;
  font-weight: 400;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 70px;
}
.logo h1 {
  font-size: 30px;
}
.L {
  color: #e893cf;
  font-size: 30px;
  padding-left: 5px;
}

/* -----------Navbar close-------------------- */


.banner-container{
  padding: 30px 30px;
  margin: 50px;
  background-color: var(--main-color);
  display: flex;
  text-align: center;
  align-items: center;
}
.banner-title {
  width: 50%;
}
.banner-title h1 {
  font-size: 52px;
  padding: 30px 0px;
  color: #D58DD3;
}
.banner-title p {
  font-size: 40px;
  padding-bottom: 30px;
}
.icon{
  padding-bottom: 30px;
}
.image-section {
  width: 50%;
}
.image-section img{
  width: 100%;
}
.btn2 button{
  background-color:#D58DD3 ;
  padding: 15px;
  border: none;
  border-radius: 20px;
  color: white;
}


/* Banner section close -------------*/


.product-container{
  padding: 0px 50px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.op{
  padding-bottom: 20px;
  text-align: center;
}
.product{
  background-color: var(--main-color);
  width: fit-content;
  padding: 20px;
  border-radius: 20px;
}
.product p {
  padding-bottom: 10px;
}
.product img {
  width: 80%;
}
.pi{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

/* our product section close */


.footer {
  background-color: var(--nf-color);
  color: var(--bg-color);
  padding: 60px 70px 30px;
}
.f-logo {
  text-align: center;
  padding: 20px 0px;
}
.f-logo img {
  width: 50px;
}

.f-section {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 50px;
}
.f-icon {
  display: flex;
  gap: 30px;
  padding: 10px 0px;
  justify-content: center;
}
.tt{
  text-align: center;
}