@media only screen and (min-width: 200px) and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }
  .nav-section {
    font-size: 21px;
    flex-direction: column;
    gap: 15px;
  }
  .btn button {
    border: none;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .logo {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }

  /* Navbar Responsive close */

  .banner-container {
    flex-direction: column;
    padding: 0px 0px;
    margin: 25px 5px;
    background-color: var(--main-color);
  }
  .banner-title,
  .image-section {
    width: 100%;
  }
  .banner-title h1 {
    font-size: 40px;
  }
  .banner-title p {
    font-size: 25px;
  }
  .btn2 {
    padding-bottom: 20px;
  }

  /* Banner section close */

  .product-container {
    grid-template-columns: auto;
    padding: 0px 5px;
    gap: 10px;
  }

  /* Product responsive close ------------- */

  .f-section {
    flex-direction: column;
    text-align: center;
    padding: 20px 0px;
  }
  .tt {
    font-size: 12px;
  }
  .footer{
    padding: 20px 0px;
  }
}
